langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
langchain-openai
langchain-ollama
beautifulsoup4
langchain_groq
langchain_core
fastapi
langserve
langchain_community
langchain>=0.2.0
langchain_huggingface